table {
	width: 100%;
	display: block;
	overflow: scroll;
	margin-bottom: .75em;
}

tr {
	border: 1px solid var(--table-border-color);
}

tr:nth-child(even) {
	background: var(--nav-background-color);
}

td, th {
	padding: 8px;
	text-align: left;
}

th {
	padding-bottom: 4px;
}
