---
layout: null
---

$baseurl: "{{ site.baseurl }}";

$content-max-width: 800px;
$nav-header-height: 60px;
$nav-width: 255px;
$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";

html {
    scroll-behavior: smooth;
    --brand-colour: #3583d6;
    --nav-header-background-color: #3583d6;

    --body-background-color: #fff;
    --content-background-color: #fff;
    --nav-background-color: #f5f5f5;

    --code-background-color: #f1e9e9;
    --header-color: #f14343;
    --string-color: #bb7d51;
    --comment-color: #817676;
    --variable-color: #108dac;
    --keyword-color: #0c728b;
    --keyword-type-color: #9b9430;
    --bash-cmd-color: #0866aa;
    --name-attr-color: #0c728b;

    --content-color: #222;
    --table-border-color: #ddd;
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    @media (prefers-color-scheme: dark) {
        --body-background-color: #222;
        --content-background-color: #222;
        --nav-background-color: #333232;

        --code-background-color: #404145;
        --header-color: #ff834a;
        --string-color: #EAB289;
        --comment-color: #87ceeb;
        --variable-color: #98fb98;
        --keyword-color: #f0e68c;
        --keyword-type-color: #bdb76b;
        --bash-cmd-color: #99D4FF;
        --name-attr-color: #8CF0E8;

        --content-color: #fff;
        --table-border-color: #444;
        --box-shadow-color: rgba(0, 0, 0, 0.3);
    }
}