---
layout: null
sitemap: false
---

$baseurl: "{{ site.baseurl }}";

$content-max-width: 800px;

$nav-header-height: 60px;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";

html {
    --brand-colour: #3583d6;
    --nav-header-background-color: #3583d6;

    @media (prefers-color-scheme: light) {
        --body-background-color: #fff;
        --content-background-color: #fff;
        --nav-background-color: #f5f5f5;

        --content-color: #222;
        --table-border-color: #ddd;
        --box-shadow-color: rgba(0, 0, 0, 0.1);
    }

    @media (prefers-color-scheme: dark) {
        --body-background-color: #222;
        --content-background-color: #222;
        --nav-background-color: #333232;

        --content-color: #fff;
        --table-border-color: #444;
        --box-shadow-color: rgba(0, 0, 0, 0.3);
    }
}
