<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.url }}">
		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="og:image" content="{{ site.baseurl }}/images/icons/siteicon.webp">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ site.description }}">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Open+Sans:400,400italic,600,600italic,700,700italic|Inconsolata:400,700">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/apple-touch-icon.webp">
		<link rel="icon" type="image/webp" href="{{ site.baseurl }}/images/icons/touch-icon.webp" sizes="192x192">
		<link rel="icon" type="image/webp" href="{{ site.baseurl }}/images/icons/favicon.webp">
	</head>

	<body>
		<header>
			<h1>
				<a href="{{ site.baseurl }}/">
					<img src="{{ site.baseurl }}/images/icons/emblem.svg" width="40" height="40" alt="{{ site.title }} logo">
					<span>{{ site.title }}</span>
				</a>
				<button type="button" class="open-nav" id="open-nav"></button>
			</h1>

			<form action="{{ site.baseurl }}/search" method="get">
				<input type="text" name="q" id="search-input" placeholder="Rechercher" autofocus>
				<input type="submit" value="Search" style="display: none;">
			</form>

			<nav {% if site.show_full_navigation %}class="full-navigation"{% endif %}>
				<ul>
					{% assign grouped = site.docs | sort: 'category_order' | group_by: 'category' %}
					{% for group in grouped %}

					<li class="nav-item top-level" {% if group.name == page.category %}id="active"{% endif %}>
						<span class="nav-cat" onclick="changeActive(this)" onkeydown="onKeyDown(event, this)" tabindex="0">{{ group.name }}</span>

						{% assign subcategories = site.docs | where: 'category', group.name | sort: 'subcategory_order' | group_by: 'subcategory' %}
						{% for subcategory in subcategories %}
							<ul>
								{% if subcategory.name != "" %}
								<li class="nav-item mid-level">
									<span>{{ subcategory.name }}</span>
								</li>
								{% endif %}

								{% assign items = subcategory.items | sort: 'order' %}
								{% for item in items %}
								<li class="nav-item {% if subcategory.name != '' %}sub-level{% endif %}">
									<a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
								</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="page-header">
				<h2>
					{% if page.category and page.subcategory %}
						{{ page.category }}/{{ page.subcategory }}
					{% elsif page.category %}
						{{ page.category }}
					{% else %}
						{{ site.title }}
					{% endif %}
				</h2>
				<h3>{{ page.title }}</h3>
			</div>
			<article class="content">
				{{ content }}
			</article>
		</section>

		<script>
			document.getElementById("open-nav").addEventListener("click", function () {
				document.body.classList.toggle("nav-open");
			});

			document.querySelectorAll("h3").forEach(item => {
				item.addEventListener("click", event => {
					navigator.clipboard.writeText(window.location.href + "#" + item.id);
					
				});
			});

			let active = document.getElementById("active");

			function changeActive(newActive) {
				newActive = newActive.parentNode;

				if (active == newActive) {
					newActive.removeAttribute("id");
					active = null;
					return;
				}

				if (active == null) {
					newActive.id = "active";
					active = newActive;
					return;
				}

				active.removeAttribute("id");
				newActive.id = "active";
				active = newActive;
			}

			function onKeyDown(event, element) {
				if (event.key === "Enter") {
					event.preventDefault();
					changeActive(element);
				}
			}
		</script>
		<script type="text/javascript" id="MathJax-script" async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
		</script>
	</body>
</html>
